{% extends 'index.html' %}
{% block page-content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa  fa-cogs "></i> 基础资产配置</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			<div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	<i class="fa  fa-github-alt  "></i> 产品线类型
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	<div>
                        		<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myProjectModal"><i class="glyphicon glyphicon-plus"></i></button>
                        	</div>
							<table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer" id="projectList">						
	                                <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th class="right">产品线名称</th>
                                            <th class="right">项目名称</th>
                                            <th class="text-center">操作</th>
                                        </tr>											    
	                                </thead>
	                                <tbody>
                                    	{% for ds in baseAssets.project %}
	                                        <tr>
	                                            <td>{{ds.id}}</td>
	                                            <td>{{ds.project_name}}</td>
                                                <td>{{ds.project_english_name}}</td>
	                                            <td class="text-center">
{#	                                            	<button  type="button" class="btn btn-xs btn-default"  onclick="modfAssetsData(this,'project',{{ds.id}})"><abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></button>#}
                                                    <button  type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modfProjectModal-{{ds.id}}">
                                                        <abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></abbr>
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-default" onclick="delAssetsData(this,'project',{{ds.id}})"><abbr title="删除"><i class="glyphicon glyphicon-trash"></i></abbr></button>
                                                    <a href="/assets/groups/{{ds.id}}/" style="text-decoration:none;"><button  type="button" class="btn btn-xs btn-default"><abbr title="查看组织结构图"><i class="fa fa-users  "></i></abbr></button></a>
	                                            </td>
	                                        </tr>
                                        {% endfor %}
	                                </tbody>
	                       	</table>                            
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>			
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	<i class="fa  fa-github-square"></i> 业务类型
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        	<div>
                        		<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myServiceModal"><i class="glyphicon glyphicon-plus"></i></button>
                        	</div>
							<table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer" id="serviceList">						
	                                <thead>
											<tr>
												<th class="text-center">
													<label>
														<span class="lbl"></span>
													</label>
													ID
												</th>
												<th class="text-center">所属产品线</th>
												<th class="text-center">服务名称</th>
                                                <th class="text-center">应用类型</th>
												<th class="right">操作</th>
											</tr>											    
	                                </thead>
	                                <tbody>
	                                	{% for ds in baseAssets.service %}
	                                		<tr>
		                                		<td class="text-center">
		                                			{{ds.id}}
		                                		</td>

		                                		<td class="text-center">
		                                			<span>{{ds.project.project_name}}</span>
		                                		</td>
		                                		<td class="text-center">
		                                			<span>{{ds.service_name}}</span>
		                                		</td>
                                                <td class="text-center">
		                                			<span>{{ds.service_type}}</span>
		                                		</td>
		                                		<td class="text-center">
													<div>																				
														<div class="btn-group">	
{#															<button type="button" class="btn btn-xs btn-default" onclick="modfAssetsData(this,'service',{{ds.id}})">#}
{#																<abbr title="編輯应用"><i class="fa fa-edit"></i>#}
{#															</button>#}
                                                            <button  type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modfServiceModal-{{ds.id}}">
                                                                <abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></abbr>
                                                            </button>
														</div>
														<div class="btn-group">	
															<button type="button" class="btn btn-xs btn-default" onclick="delAssetsData(this,'service',{{ds.id}})">
                                                                <abbr title="删除应用"><i class="fa fa-trash"></i></abbr>
															</button>											
														</div>
													</div>  	                                			
		                                		</td>	
	                                		</tr>                                			                                		                                			                                			                                			                                		
	                                	{% endfor %}
	                                </tbody>
	                       	</table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>

			<div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	<i class="fa  fa-bank"></i> jenkins配置
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
								<div>
	                        		<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myZoneModal"><i class="glyphicon glyphicon-plus"></i></button>
	                        	</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>名称</th>
                                            <th>jenkins主机</th>
                                            <th>username</th>
                                            <th>token</th>
                                            <th class="right">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for ds in baseAssets.jenkins %}
	                                        <tr>
	                                            <td>{{ds.id}}</td>
	                                            <td>{{ds.jenkins_name}}</td>
	                                            <td>{{ds.jenkins_host|default:""}}</td>
	                                            <td>{{ds.jenkins_user|default:""}}</td>
	                                            <td>{{ds.jenkins_token|slice:"12"}}</td>
	                                            <td>
                                                    <button  type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modfJenkinsModal-{{ds.id}}"><abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></abbr></button>
                                                    <button  type="button" class="btn btn-xs btn-default" onclick="delAssetsData(this,'jenkins',{{ds.id}})"><abbr title="删除"><i class="glyphicon glyphicon-trash"></i></abbr></button>
	                                            </td>
	                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>			
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            	<i class="fa  fa-flash"></i> kubernetes配置
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
								<div>
	                        		<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myK8sModal"><i class="glyphicon glyphicon-plus"></i></button>
	                        	</div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>k8s名称</th>
                                            <th>k8s主机</th>
                                            <th>token</th>
                                            <th class="right">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	{% for ds in baseAssets.k8s %}
	                                        <tr>
	                                            <td>{{ds.id}}</td>
	                                            <td>{{ds.k8s_name}}</td>
                                                <td>{{ds.k8s_host}}</td>
                                                <td>{{ds.k8s_token|slice:"10"}}</td>
	                                            <td>
                                                    <button  type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modfK8sModal-{{ds.id}}"><abbr title="编辑"><i class="glyphicon glyphicon-edit"></i></abbr></button>
                                                    <button  type="button" class="btn btn-xs btn-default" onclick="delAssetsData(this,'k8s',{{ds.id}})"><abbr title="删除"><i class="glyphicon glyphicon-trash"></i></abbr></button>
	                                            </td>
	                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>            
</div>


<div class="modal fade" id="myProjectModal" tabindex="-1" role="dialog" aria-labelledby="myProjectModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myProjectModalLabel">
					添加产品线资产
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="project_assets">
					<div class="form-group">				
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>产品线名称</strong></label>																												
						<div class="col-sm-6">
							<input class="form-control" type="text" name="project_name" id="project_name"/>	
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>项目名称</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="project_english_name" id="project_english_name"/>
						</div>
                     </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addAssetsData(this,'project')">
					添加
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="modal fade" id="myServiceModal" tabindex="-1" role="dialog" aria-labelledby="myServiceModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myServiceModalLabel">
					添加应用类型
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="service_assets">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>选择产品线</strong></label>																												
						<div class="col-sm-6">
						   <select class="form-control" name="project_id" id="project_service_select">
                               <option  value="">请选择一个产品线</option>
                               {% for s in baseAssets.project %}
                                   <option value="{{s.id}}" name="project_id">{{s.project_name}}</option>
                               {% endfor %}
							</select>
						</div>	
					</div>
					<div class="form-group">				
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>服务名称</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="service_name" id="service_name"/>	
						</div>											
					</div>
                    <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>应用类型</strong></label>
						<div class="col-sm-6">
                            <select class="form-control" name="service_type" id="service_type_select">
                                <option value="">选择应用类型</option>
                                <option value="tomcat" name="service_type">tomcat</option>
                                <option value="jar" name="service_type">jar</option>
                                <option value="war" name="service_type">war</option>
							</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>工作目录</strong></label>
						<div class="col-sm-6">
                            <select class="form-control" name="service_root_path" id="service_root_select">
                                <option value="0" name="service_root_path" selected="selected">按包名称</option>
                                <option value="1" name="service_root_path">ROOT目录</option>
							</select>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>编译类型</strong></label>
						<div class="col-sm-6">
                            <select class="form-control" name="service_pom_path" id="service_pom_select">
                                <option value="0" name="service_pom_path" selected="selected">全局编译</option>
                                <option value="1" name="service_pom_path" >模块编译</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addServiceData(this)">
					添加
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="modal fade" id="myZoneModal" tabindex="-1" role="dialog" aria-labelledby="myZoneModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myZoneModalLabel">
					jenkins配置
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="jenkins_assets">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>jenkins名称</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="jenkins_name" />
						</div>											
					</div>	
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>jenkins主机</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="jenkins_host" />
						</div>											
					</div>						
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>用户名</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="jenkins_user" />
						</div>											
					</div>	
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>token</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="jenkins_token" />
						</div>											
					</div>																				
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addAssetsData(this,'jenkins')">
					添加
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


 <div class="modal fade" id="myK8sModal" tabindex="-1" role="dialog" aria-labelledby="myK8sModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myK8sModalLabel">
					添加k8s配置
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="k8s_assets">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>名称</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="k8s_name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>k8s主机</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="k8s_host" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>token</strong></label>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="k8s_token" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" onclick="addAssetsData(this,'k8s')">添加</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>


{% for ds in baseAssets.project %}
	<div class="modal fade" id="modfProjectModal-{{ds.id}}" tabindex="-1" role="dialog" aria-labelledby="modfServiceModal-{{ds.id}}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modfProjectModalLabel-{{ds.id}}">
						产品线类型
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="project_assets_{{ds.id}}">
                        <div class="form-group">
						    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>产品线名称</strong></label>
						    <div class="col-sm-6">
							    <input class="form-control" type="text" name="project_name" id="project_name" value="{{ ds.project_name|default:"" }}"/>
						    </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>项目名称</strong></label>
						    <div class="col-sm-6">
							    <input class="form-control" type="text" name="project_english_name" id="project_english_name" value="{{ds.project_english_name|default:""}}" />
						    </div>
                        </div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="modfZoneAssetsData(this,{{ds.id}},'project')">
						修改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
{% endfor %}

{% for ds in baseAssets.service %}
	<div class="modal fade" id="modfServiceModal-{{ds.id}}" tabindex="-1" role="dialog" aria-labelledby="modfServiceModal-{{ds.id}}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modfServiceModalLabel-{{ds.id}}">
						业务类型
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="service_assets_{{ds.id}}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>选择产品线</strong></label>
							<div class="col-sm-6">
						    <select class="form-control" name="project_id" id="project_service_select" disabled="disabled">
{#						   		<option  value="">请选择一个产品线</option>#}
                                {% for s in baseAssets.project %}
                                    <option value="{{s.id}}" {% if s.id == ds.project_id %} selected {% endif %} name="project_id">{{s.project_name}}</option>
                                {% endfor %}
							</select>
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>服务名称</strong></label>
						    <div class="col-sm-6">
							    <input class="form-control" type="text" name="service_name" id="service_name" value="{{ ds.service_name }}" />
						    </div>
					    </div>
                        <div class="form-group">
						    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>应用类型</strong></label>
						    <div class="col-sm-6">
                                <select class="form-control" name="service_type" id="service_type_select">
                                    <option value="">选择应用类型</option>
                                    <option value="tomcat" name="service_type" {% if ds.service_type == "tomcat" %} selected {% endif %}>tomcat</option>
                                    <option value="jar" name="service_type" {% if ds.service_type == "jar" %} selected {% endif %}>jar</option>
                                    <option value="war" name="service_type" {% if ds.service_type == "war" %} selected {% endif %}>war</option>
							    </select>
						    </div>
					    </div>
                        <div class="form-group">
						    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>工作目录</strong></label>
						    <div class="col-sm-6">
                                <select class="form-control" name="service_root_path" id="service_root_select">
                                    {% if ds.service_root_path == '1' %}
                                        <option value="0" name="service_root_path" >按包名称</option>
                                        <option value="1" name="service_root_path" selected="selected">ROOT目录</option>
                                    {% else %}
                                        <option value="0" name="service_root_path" selected="selected">按包名称</option>
                                        <option value="1" name="service_root_path" >ROOT目录</option>
                                    {% endif %}
							    </select>
						    </div>
					    </div>
                        <div class="form-group">
						    <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>编译类型</strong></label>
						    <div class="col-sm-6">
                                <select class="form-control" name="service_pom_path" id="service_pom_select">
                                    {% if ds.service_pom_path == '1' %}
                                        <option value="0" name="service_pom_path" >全局编译</option>
                                        <option value="1" name="service_pom_path" selected="selected">模块编译</option>
                                    {% else %}
                                        <option value="0" name="service_pom_path" selected="selected">全局编译</option>
                                        <option value="1" name="service_pom_path" >模块编译</option>
                                    {% endif %}
							    </select>
						    </div>
					    </div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="modfZoneAssetsData(this,{{ds.id}},'service')">
						修改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
{% endfor %}


{% for ds in baseAssets.jenkins %}
	<div class="modal fade" id="modfJenkinsModal-{{ds.id}}" tabindex="-1" role="dialog" aria-labelledby="modfJenkinsModalLabel-{{ds.id}}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modfJenkinsModalLabel-{{ds.id}}">
						jenkins配置修改
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="jenkins_assets_{{ds.id}}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>jenkins名称</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="jenkins_name" value="{{ds.jenkins_name}}"/>
							</div>											
						</div>	
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>jenkins主机地址</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="jenkins_host" value="{{ds.jenkins_host|default:""}}"/>
							</div>											
						</div>							
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>用户</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="jenkins_user" value="{{ds.jenkins_user|default:""}}"/>
							</div>											
						</div>	
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>token</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="jenkins_token"  value="{{ds.jenkins_token|default:""}}"/>
							</div>											
						</div>																	
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="modfZoneAssetsData(this,{{ds.id}},'jenkins')">
						修改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
{% endfor %}

{% for ds in baseAssets.k8s %}
	<div class="modal fade" id="modfK8sModal-{{ds.id}}" tabindex="-1" role="dialog" aria-labelledby="modfK8sModalLabel-{{ds.id}}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modfK8sModalLabel-{{ds.id}}">
						k8s配置修改
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="k8s_assets_{{ds.id}}">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>k8s名称</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="k8s_name" value="{{ds.k8s_name}}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>k8s主机</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="k8s_host" value="{{ds.k8s_host|default:""}}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>token</strong></label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="k8s_token"  value="{{ds.k8s_token|default:""}}"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="modfZoneAssetsData(this,{{ds.id}},'k8s')">
						修改
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
{% endfor %}


<script type="text/javascript"> 
	$(document).ready(function() {
	    $('#serviceList').DataTable();
	} ); 
	$(document).ready(function() {
	    $('#projectList').DataTable();
	} ); 	
	function addServiceData(obj) {
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		var form = document.getElementById('service_assets');
		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			if ( value.length == 0){
				window.wxc.xcConfirm("请注意必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
				btnObj.removeAttr('disabled');
				return false;
			}
		};
		$.ajax({
			url:'/api/service/', //请求地址
			type:"POST",  //提交类似
			contentType : "application/json", 
			dataType : "json", 
			data:JSON.stringify({
				"project_id": $('#project_service_select option:selected').val(),
				"project_name": $('#project_service_select option:selected').text(),
                "service_type": $('#service_type_select option:selected').val(),
                "service_root_path": $('#service_root_select option:selected').val(),
                "service_pom_path": $('#service_pom_select option:selected').val(),
				"service_name": document.getElementById("service_name").value,
			}), //提交参数
			success:function(response){
				btnObj.removeAttr('disabled');
				window.wxc.xcConfirm("添加成功", window.wxc.xcConfirm.typeEnum.success);
 				location.reload();
				
			},
	    	error:function(response){
	    		btnObj.removeAttr('disabled');
	    		window.wxc.xcConfirm("添加失败", window.wxc.xcConfirm.typeEnum.error);
/* 	    		location.reload(); */
	    	}
		})	
	}
	
	function addAssetsData(obj,op) {
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		var post_data = {}; 
		if (op=="project"){
			var putUrl = '/api/project/';
			var form = document.getElementById('project_assets');
		}
		else if (op=="group"){
			var putUrl = '/api/group/';
			var form = document.getElementById('group_assets');
		}
		else if (op=="zone"){
			var putUrl = '/api/zone/';
			var form = document.getElementById('zone_assets');
		}
		else if (op=="jenkins"){
		    var putUrl = '/api/jenkins/'
            var form = document.getElementById('jenkins_assets')
        }
		else if (op=="line"){
			var putUrl = '/api/line/';
			var form = document.getElementById('line_assets');
		}
		else if (op=="k8s"){
			var putUrl = '/api/k8s/';
			var form = document.getElementById('k8s_assets');
		}
		else if (op=="raid"){
			var putUrl = '/api/raid/';
			var form = document.getElementById('raid_assets');
		}		
		else if (op=="status"){
			var putUrl = '/api/status/';
			var form = document.getElementById('status_assets');
		}			

		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			if (value.length == 0){
				window.wxc.xcConfirm("请注意必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
				btnObj.removeAttr('disabled');
				return false;
			}
			else{
				post_data[name] = value;
			};
			
		};
		$.ajax({
			dataType: "JSON",
			url:putUrl, //请求地址
			type:"POST",  //提交类似
			data:post_data, //提交参数
			success:function(response){
				btnObj.removeAttr('disabled');
				window.wxc.xcConfirm("资产添加成功", window.wxc.xcConfirm.typeEnum.success);
 				location.reload();			
			},
	    	error:function(response){
	    		btnObj.removeAttr('disabled');
	    		window.wxc.xcConfirm("资产添加失败", window.wxc.xcConfirm.typeEnum.error);
/* 	    		location.reload(); */
	    	}
		})	
	}	
	
	function modfZoneAssetsData(obj,id,op) {
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		var post_data = {}; 
		if (op=="service"){
			var putUrl = '/api/service/'+id+'/';
			var form = document.getElementById('service_assets_'+id);
		}
		else if (op=="k8s"){
			var putUrl = '/api/k8s/'+id+'/';
			var form = document.getElementById('k8s_assets_'+id);
		}
		else if (op=="jenkins"){
			var putUrl = '/api/jenkins/'+id+'/';
			var form = document.getElementById('jenkins_assets_'+id);
		}
		else if (op=="project") {
		    var putUrl = '/api/project/'+id+'/';
		    var form = document.getElementById('project_assets_'+id);
        }

		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			post_data[name] = value;
			if ( value.length == 0){
				window.wxc.xcConfirm("请注意必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
				btnObj.removeAttr('disabled');
				return false;
			}
			else{
				post_data[name] = value;
			};			
			
		};
		$.ajax({
			dataType: "JSON",
			url:putUrl, //请求地址
			type:"PUT",  //提交类似
			data:post_data, //提交参数
			success:function(response){
				btnObj.removeAttr('disabled');
				window.wxc.xcConfirm("修改成功", window.wxc.xcConfirm.typeEnum.success);
 				location.reload();
				
			},
	    	error:function(response){
	    		btnObj.removeAttr('disabled');
	    		window.wxc.xcConfirm(response + "修改失败", window.wxc.xcConfirm.typeEnum.error);
/* 	    		location.reload(); */
	    	}
		})	
	}		

	function getAssetsData(obj,op,id) {
        var btnObj = $(obj);
        btnObj.attr('disabled',true);
    }

	function  modfAssetsData(obj,op,id){
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		var post_data = {}; 		
		window.wxc.xcConfirm("请输入新名称：", window.wxc.xcConfirm.typeEnum.input,{
			onOk:function(result){
				if (result.length == 0){
					/* 如果没有输入字符串则直接退出 */
					btnObj.removeAttr('disabled');
					return;
				};
				if (op=="service"){
					var putUrl = '/api/service/' + id +'/';
					post_data['service_name'] = result;
				}
				else if (op=="project"){
					var putUrl = '/api/project/' + id + '/';
					post_data['project_name'] = result;
				}				
				else if (op=="group"){
					var putUrl = '/api/group/'+ id +'/';
					post_data['name'] = result;
				}	
				else if (op=="line"){
					var putUrl = '/api/line/'+ id +'/';
					post_data['line_name'] = result;
				}	
				else if (op=="raid"){
					var putUrl = '/api/raid/'+ id +'/';
					post_data['raid_name'] = result;
				}		
				else if (op=="status"){
					var putUrl = '/api/status/'+ id +'/';
					post_data['status_name'] = result;
				};				
				$.ajax({
					  type: 'PUT',
					  url: putUrl,
					  data:post_data,
				      success:function(response){	
				    	  btnObj.removeAttr('disabled');
			              window.wxc.xcConfirm("修改成功", window.wxc.xcConfirm.typeEnum.success);	
			              location.reload();
					},
		            error:function(response){
		            	btnObj.removeAttr('disabled');
		            	window.wxc.xcConfirm("修改失败！", window.wxc.xcConfirm.typeEnum.error);
		            	location.reload();
		            },							  
					});
				
			}
		});								   
   }
	
	function delAssetsData(obj,op,id) {
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		var txt=  "是否确认删除？";
		var post_data = {};
		if (op=="service"){
			var putUrl = '/api/service/'+ id + '/';
		}
		else if (op=="project"){
			var putUrl = '/api/project/' + id + '/';
		}		
		else if (op=="group"){
			var putUrl = '/api/group/' + id + '/';
		}
		else if (op=="zone"){
			var putUrl = '/api/zone/' + id + '/';
		}
		else if (op=="jenkins"){
			var putUrl = '/api/jenkins/' + id + '/';
		}
		else if (op=="line"){
			var putUrl = '/api/line/' + id + '/';
		}	
		else if (op=="raid"){
			var putUrl = '/api/raid/' + id + '/';
		}		
		else if (op=="status"){
			var putUrl = '/api/status/' + id + '/';
		};			
		var option = {				
				title: "id-"+id,
				btn: parseInt("0011",2),
				onOk: function(){
					$.ajax({
						  type: 'DELETE',
						  url:putUrl,
					      success:function(response){	
					    	btnObj.removeAttr('disabled');
		                	window.wxc.xcConfirm("删除成功！", window.wxc.xcConfirm.typeEnum.success);
		                	location.reload();				            
					      },
			              error:function(response){
			            	btnObj.removeAttr('disabled');
			            	window.wxc.xcConfirm("删除失败！", window.wxc.xcConfirm.typeEnum.error);	
			              }
						});
				},
				onCancel:function(){	
				},
				onClose:function(){
				}
			}
			window.wxc.xcConfirm(txt, "custom", option);			   
		}	
		
</script>
{% endblock %}
