{% extends 'index.html' %} 
{% block ace-content %}
<!-- ACE Editor -->   
<script src="http://cdn.bootcss.com/ace/1.2.4/ace.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-language_tools.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-old_ie.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/theme-monokai.js"></script> 
<link href="/static/dist/css/bootstrap-multiselect.css" rel="stylesheet">
<script src="/static/dist/js/bootstrap-multiselect.js"></script>
<style type="text/css">
	#project_local_command {
		/* position: absolute; */
	width: 100%;
	height: 400px;
   }	
</style>
{% endblock %}
{% block page-content %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<i class="fa  fa-wrench"></i> 项目配置中心
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa  fa-plus"></i> 添加项目
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<legend>
								<i class="fa  fa-paper-plane"></i> 部署服务器
							</legend>
							<form role="form" method="post" id="add_deploy_project">
								{% csrf_token %}
								<div class="form-group">
									<label><font color='red'>* </font>产品线名称</label> 
									<select class="form-control" id="project_id"  onchange="javascript:oBtProjectSelect();" required>
										<option name="project_id" value="">请选择产品线</option>
										{% for ds in baseAssets.project %}
											<option value="{{ds.id}}" name="project_id">{{ds.project_name}}</option>
										{% endfor %}
									</select>									
									<p class="help-block">例如：uduoduo</p>
								</div>
								<div class="form-group">
									 <label><font color='red'>* </font>服务模块</label>
									 <select class="form-control" name="service_id" id="service_id" title="" onchange="javascript:oBtServiceSelect();" required>
									   		<option value="">请选择一个服务</option>
									</select>
								</div>
								<div class="form-group">
									<label><font color='red'>* </font>项目环境</label> 
									<select class="form-control" id="project_env" name="project_env" onchange="javascript:oBtEnvType();" required>
										<option value="">请选择项目环境</option>
										<option value="test" name="project_env">测试环境</option>
										<option value="uat" name="project_env">灰度环境</option>
										<option value="prod" name="project_env">生产环境</option>
									</select>
								</div>
                            <div id="unProdEnvConfig" class="form-group">
								<div class="form-group">
                                    <input class="form-control" id="project_repertory" name="project_repertory" value="git" type="hidden" />
								</div>
								<div class="form-group">
									<label><font color='red'>* </font>仓库地址</label> 
									<input class="form-control" id="project_address" name="project_address" required />
									<p class="help-block">http://git.jhh.com/jhs-loan/jhs-loan.git</p>
								</div>
								<div class="form-group" id="repo_type">
									<label>仓库账户/密码/分支<i class="fa fa-info-circle"
										data-toggle="tooltip" title="Git的账户/密码/分支"></i></label>
									<div class="form-inline from-group">
										<input type="text" class="form-control" name="project_repo_user" id="project_repo_user"
                                            placeholder="请输入账户" /> <input type="text" class="form-control" id="project_repo_passwd" name="project_repo_passwd"
                                            placeholder="请输入密码"  /> <input type="text" class="form-control" id="project_branch" name="project_branch" placeholder="请输入分支" />
									</div>
								</div>
								<div class="form-group" >			 		             
									<label ><font color='red'>* </font>是否需要shell命令: </label>
									<div class="btn-group btn-group-sm">
										<button type="button" class="btn btn-default" onclick="setShellcmd('yes')"><a>Yes</a></button>
										<button type="button" class="btn btn-default" onclick="setShellcmd('no')"><a>No</a></button>
									</div>
								</div> 
								<div  id="isShellcmd" style="display: none;">
									<div class="form-group" >
										<label>shell命令<i class="fa fa-info-circle" data-toggle="tooltip" title="写入shell命令"></i></label>
										<div id="project_local_command" name="project_local_command" class="ace_editor"></div>								
									</div>
									<div class="form-group">
										<label>代码发布目录<i class="fa fa-info-circle" data-toggle="tooltip" title="真实被同步代码的目录"></i></label> 
										<input class="form-control" name="project_dir" value="{{project_dir}}release/" id="project_dir" required pattern="^/.*/$" title="正确格式：/path/" type="hidden" />
									</div>	
								</div>		
								<div class="form-group">
									<label><font color='red'>* </font>源代码存放地址</label> 
									<input class="form-control" id="project_repo_dir" name="project_repo_dir" value="{{project_dir}}source/" required pattern="^/.*/$" title="正确格式：/path/"  />
								</div>
                            </div>
								<button type="reset" class="btn btn-default">撤销</button>
								<button type="button" class="btn btn-default"  onclick="addDeployProject(this,'audit')" >提交</button>
						</div>
						<!-- /.col-lg-6 (nested) -->
						<div class="hr hr32 hr-dotted"></div>
						<div class="col-lg-6">
							<legend><i class="fa  fa-paper-plane-o"></i>持续集成配置</legend>
							<div class="form-group">
								<label><font color='red'>* </font>jenkins节点选择</label> <br>
								<select class="form-control"   name="jenkins_id" id="jenkins_id" required>
 								    <option value="" >请选择jenkins节点</option>
                                    {% for ds in baseAssets.jenkins %}
									    <option name="jenkins_id" value="{{ds.id}}">{{ds.jenkins_name}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label><font color='red'>* </font>k8s节点选择</label> <br>
								<select class="form-control"   name="k8s_id" id="k8s_id" required >
                                    <option value="">请选择k8s节点</option>
 								    {% for ds in baseAssets.k8s %}
									    <option name="k8s_id" value="{{ds.id}}">{{ds.k8s_name}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>对外开放端口</label>
                                <div class="form-inline from-group">
										<input type="number" class="form-control" name="project_service_port"
											id="project_service_port" placeholder="请输入服务端口" onmouseleave="check_service_port('project_service_port')"  onkeyup="this.value=this.value.replace(/\D/g,'')" /> <input type="number"
                                            class="form-control" id="project_debug_port" name="project_debug_port" onmouseleave="check_service_port('project_debug_port')"  onkeyup="this.value=this.value.replace(/\D/g,'')"
                                            placeholder="请输入debug端口" />
                                </div>
								<p class="help-block" id="help-result-info">例如：20001,只能是20000-40000之间的端口</p>
							</div>
							<div class="form-group">
								<label><font color='red'>* </font>副本数</label>
                                <div class="form-inline from-group">
                                    <input type="number" class="form-control" value="1" size="5" name="project_replication" id="project_replication" placeholder="请输入副本数"  onkeyup="check_replication_number('project_replication')" />
                                </div>
								<p class="help-block" id="help-result-info">例如：1,只能是1~5之间的整数</p>
							</div>
							<div class="form-group">
								<label>容器环境变量</label>
                                <input class="form-control"  type="text" id="project_env_var" name="project_env_var" />
								<p class="help-block">例如：{"ENV":"test"} 必须是字典格式</p>
							</div>
							<div class="form-group">
								<label>容器日志挂载路径</label>
                                <input class="form-control"  type="text" id="project_mount_path" name="project_mount_path" />
								<p class="help-block">例如：/usr/local/tomcat/logs 只能是目录</p>
							</div>
							<div class="form-group" id="extConfig" style="display: none;">
								<label><font color='red'>* </font>部署授权组<i class="fa fa-info-circle" data-toggle="tooltip" title="选择的用户组能够授权部署工单"></i></label> <br>
								<select class="form-control" name="project_audit_group" id="project_audit_group">
									<option name="project_audit_group" id="project_audit_group" selected="selected" value="">选择一个授权组</option>
									{% for ds in groupList %}
										<option name="project_audit_group"  value="{{ds.id}}">{{ds.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<!-- /.col-lg-6 (nested) -->
						<div class="hr hr32 hr-dotted"></div>
						</form>
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</div>

<script type="text/javascript">
{% if errorInfo %}
	window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
{% endif %}
$(function () { $("[data-toggle='tooltip']").tooltip(); });

$(function(){
    $("#project_name").on("input",function(e){
    	$("#project_dir").attr("value",'{{project_dir}}release/'+e.delegateTarget.value+'/');
    	$("#project_repo_dir").attr("value",'{{project_dir}}source/'+e.delegateTarget.value+'/');
    });

});


function check_replication_number(id){
    var btnObj=$('#'+id)
    var data=btnObj.val()
    if(data){
        if(Number(data) > 5 || Number(data) < 1 ){
            btnObj.val('1')
        }
    }else{
        btnObj.val('1')
    }
}

function check_service_port(id) {
    var btnObj=$('#'+id)
    var data=btnObj.val()
        if(data){
            if(!isRealNum(data) || Number(data) > 50000 || Number(data) < 20000){
                btnObj.parent().addClass("has-error")
                return false
            }else{
                btnObj.parent().removeClass("has-error")
                return true
            }
        }else{
            return true
        }
}

function isRealNum(val){
    if(val === "" || val ==null){
        return false;
    }
    if(!isNaN(val)){
        return true;
    }else{
        return false;
    }
}

var project_type = 'no';
function setShellcmd(id){
	if (id=='yes'){
		document.getElementById("isShellcmd").style.display = "";
		project_type = 'yes';
	}
	else {
        document.getElementById("isShellcmd").style.display = "none";
        project_type = 'no';
    }
}


function setAceEditMode(model) {
	var editor = ace.edit("project_local_command");
	require("ace/ext/old_ie");
	var langTools = ace.require("ace/ext/language_tools");
	editor.setTheme("ace/theme/monokai");
	editor.insert("#!/bin/bash");
	editor.getSession().setMode("ace/mode/" + model);
	editor.setShowPrintMargin(false);
	editor.setOptions({
	    enableBasicAutocompletion: true,
	    enableSnippets: true,
	    enableLiveAutocompletion: true
	}); 
			 
};
setAceEditMode("sh");

function oBtProjectSelect(){
	   $('#service_id').removeAttr("disabled");
	   var obj = document.getElementById("project_id");
	   var index = obj.selectedIndex;
	   var projectId = obj.options[index].value;
	   if ( projectId > 0){
			$.ajax({
				dataType: "JSON",
				url:'/api/project/'+ projectId + '/', //请求地址
				type:"GET",  //提交类似
				success:function(response){
					var selectHtml = '';
					for (var i=0; i<response["service_assets"].length; i++){
					    if(i==0) {
					        selectHtml += '<option name="service_id" selected="selected" value="'+ response["service_assets"][i]["id"] +'">' + response["service_assets"][i]["service_name"] + '</option>'
                        } else {
					        selectHtml += '<option name="service_id" value="'+ response["service_assets"][i]["id"] +'">' + response["service_assets"][i]["service_name"] + '</option>'
                        }
					};
                    var obj = document.getElementById("service_id")
                    obj.setAttribute('title', response["project_english_name"]);
					obj.innerHTML= selectHtml;
					var default_service_name ="";
					if (response["service_assets"].length>=1){
					    default_service_name = response["service_assets"][0]["service_name"] + "/";
                    }
                    $("#project_dir").attr("value",'{{project_dir}}release/'+response["project_english_name"]+'/' + default_service_name);
    	            $("#project_repo_dir").attr("value",'{{project_dir}}source/'+response["project_english_name"]+'/' + default_service_name);
				},
			});
	   }
	   else{
		   $('#service_id').attr("disabled",true);
	   }
}


function oBtServiceSelect(){
 	  // $('#server').removeAttr("disabled");
	   var obj = document.getElementById("service_id");
	   var index = obj.selectedIndex;
	   var sId = obj.options[index].value;
	   var sValue = obj.options[index].text;
       var base_dir='{{ project_dir }}';
       pName = obj.getAttribute("title");
	   if ( sId  > 0){
	       var project_repo_dir = base_dir + "source/" + pName + '/' + sValue;
           var project_dir = base_dir + 'release/' + pName + '/' + sValue;
           $("#project_repo_dir").attr("value", project_repo_dir + '/');
	       $("#project_dir").attr("value",project_dir + '/');
	   }
	   else{
	       window.wxc.xcConfirm("服务类型选择错误", window.wxc.xcConfirm.typeEnum.error);
	   }
}

function oBtEnvType() {
	   var obj = document.getElementById("project_env");
	   var index = obj.selectedIndex;
	   var value = obj.options[index].value;
	   if (value=="prod"){
		   document.getElementById("extConfig").style.display = "";
		   document.getElementById("unProdEnvConfig").style.display = "none";
	   }
	   else {
		   document.getElementById("extConfig").style.display = "none";
		   document.getElementById("unProdEnvConfig").style.display = "";
	   }
}

function addDeployProject(obj) {	
	var btnObj = $(obj);
	if($("#project_env").val() == "prod"){
        var required=["project_id","service_id","project_env","k8s_id","project_audit_group"];
    }else{
	    var required=["project_id","service_id","project_env","project_address","project_repo_passwd","project_repo_user","jenkins_id","k8s_id","project_repo_dir"];
	}
	btnObj.attr('disabled',true);
	var form = document.getElementById('add_deploy_project');
	for (var i = 0; i < form.length; ++i) {
		var name = form[i].name;
		var value = form[i].value;
		idx = $.inArray(name, required);
		if (idx >= 0 && value.length == 0){
			window.wxc.xcConfirm("请注意*必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
			btnObj.removeAttr('disabled');
			return false;
		};
	};
	if (!check_service_port('project_service_port') || !check_service_port('project_debug_port')){
			window.wxc.xcConfirm("服务端口填写数字,且数字只能为20000~50000", window.wxc.xcConfirm.typeEnum.error);
			btnObj.removeAttr('disabled');
			return false;
    }

	var editor = ace.edit("project_local_command");
	var project_local_command = editor.getSession().getValue();
	var formData = new FormData();
	formData.append('project_env',$('#project_env').val());
	formData.append('project_address',$('#project_address').val());
	formData.append('project_dir',$('#project_dir').val());
	formData.append('project_repo_dir',$('#project_repo_dir').val());
	formData.append('project_repo_user',$('#project_repo_user').val());
	formData.append('project_repo_passwd',$('#project_repo_passwd').val());
	formData.append('project_branch',$('#project_branch').val());
	formData.append('project_id',$('#project_id option:selected').val());
	formData.append('service_id',$('#service_id option:selected').val());
	formData.append('project_repertory',$('#project_repertory').val());
	formData.append('project_local_command',project_local_command);
	formData.append('project_type',project_type);
	formData.append('jenkins_id',$('#jenkins_id option:selected').val());
	formData.append('k8s_id',$('#k8s_id option:selected').val());
	formData.append('project_service_port',$('#project_service_port').val());
	formData.append('project_debug_port',$('#project_debug_port').val());
	formData.append('project_env_var',$('#project_env_var').val());
    formData.append('project_mount_path',$('#project_mount_path').val());
    formData.append('project_audit_group',$('#project_audit_group').val());

	$.ajax({
/* 			dataType: "JSON", */
		url:'/deploy_add/', //请求地址
		type:"POST",  //提交类似
	    processData: false,
	    contentType: false,
		data:formData,  //提交参数
		success:function(response){
			btnObj.removeAttr('disabled');
			if (response["code"] == 200){
				window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
				window.location.href="/deploy_list";
			}
			else {
				window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
			};
		},
		error:function(response){
			btnObj.removeAttr('disabled');
			window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
		}
	});
}

</script>

{% endblock %}
