{% extends 'index.html' %}
{% block ace-content %}
<!-- ACE Editor -->   
<script src="http://cdn.bootcss.com/ace/1.2.4/ace.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-language_tools.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/ext-old_ie.js"></script>
<script src="http://cdn.bootcss.com/ace/1.2.4/theme-monokai.js"></script> 
<link href="/static/dist/css/bootstrap-multiselect.css" rel="stylesheet">
<script src="/static/dist/js/bootstrap-multiselect.js"></script>
<style type="text/css">
	#project_local_command {
		/* position: absolute; */
	width: 100%;
	height: 400px;
   }	
</style>
{% endblock %}
{% block page-content %}
<div id="page-wrapper">
    <div class="row">
         <div class="col-lg-12">
              <h1 class="page-header"><i class="fa  fa-wrench"></i> 项目配置中心</h1>
         </div>
                <!-- /.col-lg-12 -->
    </div>
	<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
 						<i class="fa  fa-plus"></i> 编辑项目
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                <legend><i class="fa  fa-paper-plane"></i>部署服务器</legend>
                                    <form role="form" method="post" id="add_deploy_project">  {% csrf_token %}
                                        <div class="form-group">
                                            <label><font color='red'>* </font>产品线名称</label>
                                            <input class="form-control" id="project_id" value="{{project.project.project_name}}" disabled>
                                            <p class="help-block">例如：uduoduo</p>
                                        </div>
										<div class="form-group">
											 <label><font color='red'>* </font>服务模块</label>
											 <select class="form-control" name="service_id" id="service_id" required>
											 		{% for ds in serviceList %}
											 			{% if ds.id == project.service_id %}
											   				<option selected="selected" value="{{ds.id}}">{{ds.service_name}}</option>	
											   			{% else %}
											   				<option  value="{{ds.id}}">{{ds.service_name}}</option>
											   			{% endif %}
											   		{% endfor %}							   							
											</select>
										</div>
                                        <div class="form-group">
                                            <label><font color='red'>* </font>项目环境</label>
                                            <select class="form-control" id="project_env" required>
                                            	{% if project.project_env == 'test' %}
	                                            	<option selected="selected" value="test" name="project_env">测试环境</option>
	                                            	<option value="uat" name="project_env">灰度环境</option>
	                                            	<option value="prod" name="project_env">生产环境</option>
	                                            {% elif project.project_env == 'uat' %}
	                                            	<option value="test" name="project_env">测试环境</option>
	                                            	<option selected="selected" value="uat" name="project_env">灰度环境</option>
	                                            	<option value="prod" name="project_env">生产环境</option>
	                                            {% elif project.project_env == 'prod' %}
	                                            	<option value="test" name="project_env">测试环境</option>
	                                            	<option value="uat" name="project_env">灰度环境</option>
	                                            	<option selected="selected" value="prod" name="project_env">生产环境</option>
	                                            {% else %}
													<option value="">请选择项目环境</option>
	                                            	<option value="test" name="project_env">测试环境</option>
	                                            	<option value="uat" name="project_env">灰度环境</option>
	                                            	<option value="prod" name="project_env">生产环境</option>
                                            	{% endif %}

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="project_repertory" name="project_repertory" value="git" type="hidden" />
                                        </div>      
                                        <div class="form-group">
                                            <label><font color='red'>* </font>仓库地址</label>
                                            <input class="form-control" id="project_address" value="{{project.project_address|default:""}}" required>
                                            <p class="help-block">例如：http://git.jhh.com/jhs-loan/jhs-loan.git</p>
                                        </div>
                                        <div class="form-group">
                                            <label>仓库账户/密码<i class="fa fa-info-circle" data-toggle="tooltip"  title="git的账户/密码/分支"></i></label>
                                            <div class="form-inline from-group">
                                                <input type="text" class="form-control" id="project_repo_user" value="{{project.project_repo_user|default:""}}" placeholder="请输入账户">
                                                <input type="text" class="form-control" id="project_repo_passwd" value="{{project.project_repo_passwd|default:""}}" placeholder="请输入密码">
                                                <input type="text" class="form-control" id="project_branch" value="{{project.project_branch|default:""}}" placeholder="请输入分支">
                                            </div>
                                        </div>
										<div class="form-group" >
											<label ><font color='red'>* </font>是否需要shell命令: </label>
											<div class="btn-group btn-group-sm">
												<button type="button" class="btn btn-default" onclick="setShellcmd('yes')"><a>Yes</a></button>
												<button type="button" class="btn btn-default" onclick="setShellcmd('no')"><a>No</a></button>
											</div>
										</div> 
										<div  id="isShellcmd" {% if project.project_type == "no" %}style="display: none;"{% endif %}>
											<div class="form-group" >
												<label>shell命令<i class="fa fa-info-circle" data-toggle="tooltip" title="写入shell指令"></i></label>
												<div id="project_local_command" name="project_local_command" class="ace_editor">{{project.project_local_command}}</div>								
											</div>
	                                        <div class="form-group">
	                                            <input class="form-control" id="project_dir" value="{{project.project_dir|default:""}}" required pattern="^/.*/$" title="正确格式：/path/"  type="hidden" >
	                                        </div>	
										</div>	    
                                        <div class="form-group">
                                            <label><font color='red'>* </font>源代码存放地址</label>
                                            <input class="form-control" id="project_repo_dir" value="{{project.project_repo_dir|default:""}}" required pattern="^/.*/$" title="正确格式：/path/" disabled>
                                        </div>  										                                                                           

                                        <button type="reset" class="btn btn-default" >撤销</button>
                                        <button type="button" class="btn btn-default" onclick="addDeployProject(this,'audit')" >提交</button>
                                    
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-6">
                                    <legend><i class="fa  fa-paper-plane-o"></i>持续集成配置</legend>
                                    <div class="form-group">
                                        <label><font color='red'>* </font>jenkins节点选择</label> <br>
                                        <select class="form-control"   name="jenkins_id" id="jenkins_id" required>
                                            <option value="">请选择jenkins节点</option>
                                            {% for ds in jenkins %}
                                                {% if ds.id == project.jenkins_id %}
                                                    <option name="jenkins_id" value="{{ds.id}}" selected >{{ds.jenkins_name}}</option>
                                                {% else %}
                                                    <option name="jenkins_id" value="{{ds.id}}">{{ds.jenkins_name}}</option>
                                                {% endif %}
									        {% endfor %}
                                        </select>
                                    </div>
				                    <div class="form-group">
								        <label><font color='red'>* </font>k8s节点选择</label> <br>
								        <select class="form-control"   name="k8s_id" id="k8s_id" required >
                                            <option value="">请选择k8s节点</option>
 								        {% for ds in k8s %}
                                            {% if ds.id == project.k8s_id %}
									            <option name="k8s_id" value="{{ds.id}}" selected>{{ds.k8s_name}}</option>
                                            {% else %}
                                                <option name="k8s_id" value="{{ds.id}}">{{ds.k8s_name}}</option>
                                            {% endif %}
									    {% endfor %}
								        </select>
							        </div>
							        <div class="form-group">
								        <label><font color='red'>* </font>对外开放端口</label>
                                        <div class="form-inline from-group">
										<input type="text" class="form-control" name="project_service_port"
											id="project_service_port" value="{{ project.project_service_port|default:"" }}" placeholder="请输入服务端口" /> <input type="text"
                                            class="form-control" id="project_debug_port" name="project_debug_port" value="{{ project.project_debug_port|default:"" }}"
                                            placeholder="请输入debug端口" />
                                        </div>
								        <p class="help-block">例如：20001,只能是20000-40000之间的端口</p>
							        </div>
                                    <div class="form-group">
                                        <label>容器环境变量</label>
                                        <input class="form-control"  type="text" id="project_env_var" value="{{ project.project_env_var|default:"" }}" name="project_env_var" />
								        <p class="help-block">例如：{'ENV':'test'} 必须是字典格式</p>
							        </div>
							        <div class="form-group">
								        <label>容器日志挂载路径</label>
                                        <input class="form-control"  type="text" id="project_mount_path" value="{{ project.project_mount_path|default:"" }}" name="project_mount_path" />
								        <p class="help-block">例如：/usr/local/tomcat/logs 只能是目录</p>
							        </div>
                                </div>
                               </form> 
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
</div>

<script type="text/javascript">
$(function () { $("[data-toggle='tooltip']").tooltip(); });
{% if errorInfo %}
	window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
{% endif %}

$(document).ready(function() {
    $('#server').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        includeSelectAllOption: true,
       	enableFiltering: true, 
    });
});

var project_type = '{{project.project_type}}';
function setShellcmd(id){
	if (id=='yes'){
		document.getElementById("isShellcmd").style.display = "";
		project_type = 'yes';
	}
	else{
		document.getElementById("isShellcmd").style.display = "none";
		project_type = 'no';
	}
	
}


function setAceEditMode(model) {
	var editor = ace.edit("project_local_command");
	require("ace/ext/old_ie");
	var langTools = ace.require("ace/ext/language_tools");
	editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/" + model);
	editor.setShowPrintMargin(false);
	editor.setOptions({
	    enableBasicAutocompletion: true,
	    enableSnippets: true,
	    enableLiveAutocompletion: true
	}); 
			 
};
setAceEditMode("sh");

function oBtEnvType() {
	   var obj = document.getElementById("project_env"); 
	   var index = obj.selectedIndex;
	   var value = obj.options[index].value; 
	   if (value=="uat"){
		   document.getElementById("extConfig").style.display = "";  	   
	   }
	   else {
		   document.getElementById("extConfig").style.display = "none";	
	   }
}


function addDeployProject(obj) {	
	var btnObj = $(obj);
	var required = ["project_id","service_id","project_env","project_address","project_repo_passwd","project_repo_user","jenkins_id","k8s_id","project_repo_dir"];
	btnObj.attr('disabled',true);
		var form = document.getElementById('add_deploy_project');
		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;	
			idx = $.inArray(name, required);						
			if (idx >= 0 && value.length == 0){
				window.wxc.xcConfirm("请注意必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
				btnObj.removeAttr('disabled');
				return false;
			};					
		};				
		var editor = ace.edit("project_local_command");
	    var project_local_command = editor.getSession().getValue(); 
	    var formData = new FormData();	
		var serverList = new Array();
		$("#server option:selected").each(function () {
			serverList.push($(this).text())
		})	    
	    formData.append('project_env',$('#project_env').val());
	    formData.append('project_address',$('#project_address').val());
	    formData.append('project_dir',$('#project_dir').val());
	    formData.append('project_repo_dir',$('#project_repo_dir').val());
	    formData.append('project_repo_user',$('#project_repo_user').val());	
	    formData.append('project_repo_passwd',$('#project_repo_passwd').val());
	    formData.append('project_branch', $('#project_branch').val());
	    formData.append('project_id',$('#project_id option:selected').val());
	    formData.append('service_id',$('#service_id option:selected').val());
	    formData.append('project_repertory',$('#project_repertory').val());
	    formData.append('project_local_command',project_local_command);
	    formData.append('project_type',project_type);
	    formData.append('jenkins_id',$('#jenkins_id option:selected').val());
	    formData.append('k8s_id',$('#k8s_id option:selected').val());
	    formData.append('project_service_port',$('#project_service_port').val());
	    formData.append('project_debug_port',$('#project_debug_port').val());
	    formData.append('project_env_var',$('#project_env_var').val());
        formData.append('project_mount_path',$('#project_mount_path').val());

		$.ajax({
/* 				dataType: "JSON", */
			url:'/deploy_mod/' + {{project.id}} + '/', //请求地址
			type:"POST",  //提交类似
		    processData: false,
		    contentType: false,				
			data:formData,  //提交参数
			success:function(response){
				btnObj.removeAttr('disabled');				
				if (response["code"] == 200){
					window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
					window.location.href="/deploy_list";
				}
				else {
					window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
				};
			},
	    	error:function(response){
	    		btnObj.removeAttr('disabled');
	    		window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
	    	}
		});	
	}


</script>

{% endblock %}