{% extends 'index.html' %}
{% block ace-content %}
<link href="/static/dist/css/smart_wizard.css" rel="stylesheet" type="text/css" />
<link href="/static/dist/css/smart_wizard_theme_circles.css" rel="stylesheet" type="text/css" />
<link href="/static/dist/css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />
<link href="/static/dist/css/smart_wizard_theme_dots.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block page-content %}
<div id="page-wrapper">
    <div class="row">
         <div class="col-lg-12">
              <h1 class="page-header"><i class="fa fa-github"></i><code>{{project.project.project_name}}</code> 项目回滚</h1>
         </div>
                <!-- /.col-lg-12 -->
    </div>
	<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
 						<i class="fa    fa-gears"></i>代码回滚
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                <legend><i class="fa  fa-paper-plane"></i>项目部署</legend>
                                    <form role="form" id="deployRun" class="main form-horizontal" >{% csrf_token %}
										<fieldset>															
											<div class="form-group">
												 <label class="col-sm-4 control-label">项目名称</label>
												 <div class="col-sm-6">
												 	<input type="text" class="form-control" name="project_name" value="{{ project.project.project_name}}"  class="input-xlarge" disabled/>
												 	<input type="hidden" class="form-control" name="project_uuid" value="{{project.project.project_uuid}}" disabled/>
												 	<input type="hidden" class="form-control" name="project_model" value="rollback"  class="input-xlarge" disabled/>
												 </div>
											</div>
                                        	<div class="form-group">
												 <label class="col-sm-4 control-label">服务模块</label>
												 <div class="col-sm-6">
                                                    <input type="text" class="form-control" name="project_service" value="{{ project.service.service_name}}"  class="input-xlarge" disabled/>
												 </div>
											</div>
											<div class="form-group">
												 <label class="col-sm-4 control-label">项目环境</label>
												 <div class="col-sm-6">
	                               					{% if project.project_env == 'test' %}
	                                					<span class="label label-success">测试环境</span>
	                                				{% elif project.project_env == 'uat' %}
	                                					<span class="label label-warning">灰度环境</span>
	                                				{% elif project.project_env == 'prod' %}
	                                					<span class="label label-danger">生产环境</span>
	                                				{% endif %}
												 </div>
											</div>

											<div class="form-group">
												 <label class="col-sm-4 control-label">回滚版本</label>
												 <div class="col-sm-6">
                                                     <select class="form-control" name="project_version" id="version_choice">
                                                         <option name="project_version" value="">选择版本</option>
                                                         {% for ds in vList %}
                                                             <option value="{{ds.image_version}}" name="project_version">{{ds.image_version}}</option>
                                                         {% endfor %}
													</select>
												 </div>
											</div>
											<div class="form-group">
												 <label class="col-sm-4 control-label">部署指派</label>
												 <div class="col-sm-6">												 	
                                            		<input class="form-control" value="{{ user }}" disabled>
												 </div>
											</div>
											</fieldset>
											<legend></legend>
											<div class="form-group">
											    <label class="col-sm-3 control-label"></label>
											    <button type="button"  class="btn btn-default disabled" >撤销部署</button>
                                                <button type="button"  class="btn btn-default" onclick="runDeploy(this)" >开始回滚</button>
									 		</div>																		 		
										</form>                                        
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                <div class="col-lg-8">
                                    <legend><i class="fa  fa-paper-plane-o"></i>部署结果</legend>
								    <div class="form-group">
								
								        <!-- SmartWizard html -->
								        <div id="smartwizard">
								            <ul>
								                <li><a href="#get_code">获取代码<br /><small>git pull</small></a></li>
								                <li><a href="#rsync_code">部署代码<br /><small>rsyn code</small></a></li>
								                {% if project.project_remote_command %}
												<li><a href="#cmd_code">执行命令<br /><small>remote command</small></a></li>
												{% endif %}
								            </ul>								
								        </div>
								        <br>
	  									<div class="well well-lg" style="background:#000000; color:#ADFF2F">
					                        <div id="result">
					                        	<i class="fa fa-frown-o"></i>Ops！好汉不回头~			
					                        </div>
					                    </div> 								
								
								    </div>                                    
<!-- 									<div class="well well-lg">
				                        <div id="result">
										      <i class="fa fa-frown-o"></i>Ops！好汉不回头~			                        
				                        </div>
				                    </div>  -->                                      
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
          
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 70%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<code>{{project.project.project_name}}</code>项目<code>{{project.project_branch|slice:":7"}}</code>版本提交历史
				</h4>
			</div>
			<div class="modal-body">
				<div id="version_result">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="getVersion(this,'{{project.project_branch}}','{{project.project_branch}}')">
					点击查看
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>              
          
</div>

<script type="text/javascript" src="/static/dist/js/jquery.smartWizard.min.js"></script>
<script type="text/javascript">

	$(document).ready(function(){
		
	    // Step show event
	    $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
	
	    });
	
	
	    // Smart Wizard
	    $('#smartwizard').smartWizard({
	            selected: 0,
	            theme: 'arrows',
	            transitionEffect:'fade',
	            showStepURLhash: true,
	
	    });
	
	
	});

function getVersion(obj,project_branch,project_version) {
	var btnObj = $(obj);
	btnObj.attr('disabled',true);
	$("#version_result").html("正在提交，请稍等。。。");
	$.ajax({
		url:'/deploy_version/'+"{{project.id}}/", //请求地址
		type:"POST",  //提交类似
		data:{
			'project_branch':project_branch,
			'project_version':project_version,
			'op':'histroy'
		},  //提交参数
		success:function(response){
			btnObj.removeAttr('disabled');
			if (response["code"] == "200"){
				$("#version_result").html(response["data"]);
			}
			
		},
    	error:function(response){
    		btnObj.removeAttr('disabled');
    		window.wxc.xcConfirm("查看失败", window.wxc.xcConfirm.typeEnum.error);
    		clearInterval(interval);
    	}
	})	
}

		
	function runDeploy(obj) {
		var btnObj = $(obj);
		btnObj.attr('disabled',true);
		$('#smartwizard').smartWizard("reset");		
		var form = document.getElementById('deployRun');
		var post_data = {};
		for (var i = 1; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;
			var project = name.indexOf("project_");
			if ( project==0 && value.length==0){
				window.wxc.xcConfirm("请注意必填项不能为空~", window.wxc.xcConfirm.typeEnum.error);
				return false;
			}
			else if (name.length > 0 && value.length > 0){
				post_data[name] = value;
			};
			
		};
		$("#result").html("服务器正在处理，请稍等。。。");
		/* 轮训获取结果 开始  */
	   var interval = setInterval(function(){  
	        $.ajax({  
	            url : '/deploy_result/{{project.id}}/',
	            type : 'post', 
	            data:post_data,
	            success : function(result){
	            	if (result["msg"] !== null ){
						if(result["msg"].indexOf("[Pack start") == 0){
	            			$('#smartwizard').smartWizard("next");
	            		}else if(result["msg"].indexOf("[RSYNC start") == 0){
	            			$('#smartwizard').smartWizard("next");
	            		}else if(result["msg"].indexOf("[CMD start") == 0){
	            			$('#smartwizard').smartWizard("next");
	            		}
	            		$("#result").append("<p>"+result["msg"]+"</p>"); 
	            		if (result["msg"].indexOf("[Done]") == 0){
	            			clearInterval(interval);
	            			window.wxc.xcConfirm("回滚成功", window.wxc.xcConfirm.typeEnum.success);
    						btnObj.attr('disabled',true);
	            			
	            		}
	            	}  
	            }  
	        });  
	    },1000); 
		
	    /* 轮训获取结果结束  */
		$.ajax({
			url:'/deploy_run/{{ project.id }}/', //请求地址
			type:"POST",  //提交类似
			data:post_data,  //提交参数
			success:function(response){
				btnObj.removeAttr('disabled');
				if (response["code"] == "500"){
					clearInterval(interval);
					window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
				}
				
			},
	    	error:function(response){
	    		btnObj.removeAttr('disabled');
	    		window.wxc.xcConfirm("部署失败", window.wxc.xcConfirm.typeEnum.error);
	    		clearInterval(interval);
	    	}
		})	
	}	
{% if errorInfo %}
	window.wxc.xcConfirm("{{errorInfo}}", window.wxc.xcConfirm.typeEnum.error);
{% endif %}
</script>

{% endblock %}